fastapi==0.115.2
uvicorn==0.32.0
pydantic==2.10.6
typing-extensions==4.12.2
python-dotenv==1.0.1
requests==2.31.0
httpx==0.26.0
google-auth==2.33.0
openai==1.30.0
google-generativeai==0.8.3
python-multipart==0.0.9
sqlalchemy
psycopg2-binary
Pillow
gunicorn
setuptools
wheel
